
section.hero
    .container.container--max
        .hero__image
        .hero__text.container--pxmin
            h1.big-title The Asphalt Hero
            p.season-hero 3 Seasons
            p.normal Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non arcu fringilla, bibendum purus eu, gravida lacus. Sed dapibus metus a quam faucibus pharetra. In hendrerit ullamcorper est non iaculis.
            p.breadcrumb
                span.parent Program
                span.child  &gt; The Asphalt Hero


