//- layout.pug

include ../mixins/_head.pug

doctype html
html(lang="eng")
    block head

    body    
        block header
            include ../components/_header.pug
        
        block content

        block footer
            include ../components/_footer.pug

        script(src="app.js")